{% extends 'base.html' %} 
{% block title %}
    Django Basketball | All Accessories        
{% endblock %}
{% block content %}
<h1 class="header">All Accessories </h1>
<p>Basketball players will often use accessories for sweat management, to improve play, and simply looking cool! 
    Add Headbands, Wristbands, Shooting Sleeves and more to your favorite players!
</p> 

{% for accessory in accessories %}
<div>
<a href="{% url 'accessories_show' accessory.id %}" >
<div class="accessory">
    <h4 class="accessory-name">{{ accessory.name }} <br/>
        <small>{{ accessory.color }}</small>
    </h4>
</div>
<hr />
</a>
</div>
{% endfor %}


{% endblock %}