{% extends 'base.html' %} 
{% block title %}
    Django Basketball | Add Player        
{% endblock %}
{% block content %}
	<h1>Add a Player to DB</h1>
	
	<form method="post">
		<!-- Security Feature - add token to form  -->
		  {% csrf_token %} 
		<!--  Generate inputs  -->
		  {{form.as_p}} 
		  <input style="margin-top: 35px;" type="submit" value="Add Player!" />
	</form>

	<div class="add-player-img" style="margin-top: 20px; text-align: center;">
		<img style="max-width: 83vw; object-fit: cover;" src="https://library.sportingnews.com/2022-02/All-Star-x-NBA75-%28FTR%29.jpg" alt="">
	</div>

{% endblock %}