{% extends 'base.html' %}
{% block title %}
    Django Basketball | Home        
{% endblock %}

{% block content %}
    <h1>Home Page for DJango BBALL</h1>
    <h4>DJango Basketball is a simple Full-Stack CRUD application created using Python, DJango and DJango's native templating language (DTL).</h4>
    <p>Users can login, choose their favorite NBA players to add to their roster of Favorite Players. They can also add accessories, such as headbands, wristbands, shooting sleeves and more to their favorite players. In future iterations, I would like to implement fantasy basketball functionality, where users can keep track of a players stats, recent performances, and compete against their friends!</p>

    <img src="https://static01.nyt.com/images/2019/11/22/sports/22nba-takeaways-lede/merlin_164767866_67e2b9f2-dbfd-4fd8-8f24-34d4e426a6c4-superJumbo.jpg" alt="">


    {% endblock %}