{% extends 'base.html' %} 

{% block title %}
Django Basketball | Player Details
{% endblock %}

{% block content %}

<div>
  <h1>{{player.name}}</h1>
  <span class="team">Team: {{player.team}} |</span>
  <span class="position">Position: {{player.position}} |</span>
  <span class="height">Height(in): {{player.height}} |</span>
  <div class="player-img">
    <img src="{{player.img}}" alt="{{player.name}}" />
  </div>
</div>

<h5>Accessories:</h5>
{% for accessory in player.accessories.all %}
<div>
    <p>{{ accessory.name }} <br/>
        <small>{{ accessory.color }}</small>
    </p>
</div>
{% empty %}
    <div>This Player Has No Accessories Yet!</div>
{% endfor %}
<div>
    <a href="{% url 'player_update' player.pk %}">Update Player Info</a>
    <a href="{% url 'player_delete' player.pk %}">Delete Player</a>
</div>

{% endblock %}
